// Import page-specific CSS files here.
@import "home";

select {
  border: 0;
}
label {
  font-weight: bold;
  font-size: 0.75rem;
  color: $gray;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: black;
}

h5 {
  font-size: 1rem;
}
