<% if notice %>
  <div class="alert alert-success m-0 alert-dismissible fade show px-4" role="alert">
    <p class="text-center m-0"><%= notice %></p>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger m-0 alert-dismissible fade show px-4" role="alert">
    <p class="text-center m-0"><%= alert %></p>
  </div>
<% end %>
