<div class="navbar mb-3 navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container col-lg-5 mx-auto">
    <%= link_to root_path do %>
      <h4 class="my-3 fw-bolder">vozenje.mk</h4>
    <% end %>
    <% if user_signed_in? %>
      <div class="nav-item dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/policy">Terms</a>
          <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: "false" }, class: "dropdown-item" %>
        </div>
      </div>
    <% else %>

    <% end %>
  </div>
</div>
