<div class="container">
  <h3 class="my-4"><strong>Data Deletion</strong></h3>
  <p>We understand the importance of protecting personal information and take the privacy of our users seriously. Our app allows users to request that their personal information be permanently deleted from our systems.
  <br><br>
  If you would like to request the deletion of your data, please contact us at mitev.nkl@gmail.com from the email address you provided when you created your account.
  <br><br>
  In order to verify your identity, we will ask you to provide the following information:
  <br><br>
  <ul>
    <li>Your name</li>
    <li>Your email address</li>
  </ul>

  Once we have verified your identity, we will permanently delete your data from our systems. We will also notify any third party with whom we have shared your data, to delete it as well.
  <br><br>
  Please note that data deletion requests may take up to 30 days to process.
  <br><br>
  <strong>Contact Us</strong>
  <br><br>
  If you have any questions or concerns about our data deletion process, please contact us.</p>
  <br><br>
</div>
