<div class="container">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Privacy</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Terms</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Data</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <h3 class="my-3"><strong>Our Privacy Policy</strong></h3>
      <p class="mb-4">
        We understand the importance of protecting personal information and take the privacy of our users seriously.
        <br><br>
        This Privacy Policy explains how we collect, use, and protect the information we receive when you use our ride-sharing app.
        <br><br>
        <strong>Information Collection and Use</strong>
        <br><br>
        When you sign up for our app, we will collect certain personal information from your Facebook account, including your name, email address, and profile picture.
        <br><br>
        We use this information to create your user account and to establish trust among our users on the platform..
        <br><br>
        When you create a post for ride sharing, you will be asked to provide information about the ride, such as the destination, date and time, and number of seats.
        <br><br>
        This information will be visible to other users who are looking for a ride and may match with your post.
        <br><br>
        When you see a match for your post, you will be able to see the match's Facebook information, including their name and profile picture.
        <br><br>
        We will use the information you provide to match you with other users, initialize trust, and to facilitate the ride-sharing process.
        <br><br>
        <strong>Information Retention</strong>
        <br><br>
        The post will be self-destroyed when the post's end_time parameter has past.
        <br><br>
        You can also destroy the post at any time.
        <br><br>
        We will retain the information you provide for as long as necessary to provide our services and to comply with legal obligations.
        <br><br>
        <strong>Security</strong>
        <br><br>
        We take reasonable measures to help protect the information we receive from unauthorized access, disclosure, alteration, and destruction.
        <br><br>
        However, no method of transmission over the internet, or method of electronic storage, is 100% secure. Therefore, we cannot guarantee its absolute security.
        <br><br>
        <strong>Changes to Our Privacy Policy</strong>
        <br><br>
        We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
        <br><br>
        <strong>Contact Us</strong>
        <br><br>
        If you have any questions or concerns about our Privacy Policy, please contact us.
      </p>
    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <h3 class="my-3"><strong>Terms of Service</strong></h3>
      <p>Welcome to our ride-sharing app.
      <br><br>
      By accessing or using our app, you agree to be bound by these terms of service (the “Terms”). If you do not agree to these terms, you may not use our app.
      <br><br>
      <strong>Use of the App</strong>
      <br><br>
      Our app is free to use. You may use the app for your personal, non-commercial use. You may not use the app for any other purpose, or in any other way, without our express written consent.
      <br><br>
      <strong>Monetization</strong>
      <br><br>
      The app is currently free to use and does not have any ads. We may, however, decide to monetize the app in the future. We will inform you of any changes to the monetization of the app and you will have the option to continue using the app or discontinue its use.
      <br><br>
      <strong>Content</strong>
      <br><br>
      Our app allows users to share information, including but not limited to, information about rides. You are solely responsible for the information you share through the app and the consequences of sharing such information. We reserve the right, but have no obligation, to monitor and remove any information or content that we believe is in violation of these Terms or applicable laws.
      <br><br>
      <strong>Termination</strong>
      <br><br>
      We reserve the right to terminate your use of the app at any time and for any reason, without notice. If we terminate your use of the app, you will no longer have access to your account or any information associated with it.
      <br><br>
      <strong>Changes to the Terms</strong>
      <br><br>
      We may update these terms from time to time. We will notify you of any changes by posting the new Terms on this page. By continuing to use the app after the changes are made, you are agreeing to the new terms.
      <br><br>
      <strong>Contact Us</strong>
      <br><br>
      If you have any questions about these terms, please contact us.</p>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <h3 class="my-3"><strong>Data Deletion</strong></h3>
      <p>We understand the importance of protecting personal information and take the privacy of our users seriously. Our app allows users to request that their personal information be permanently deleted from our systems.
      <br><br>
      If you would like to request the deletion of your data, please contact us at [insert email address] from the email address you provided when you created your account.
      <br><br>
      In order to verify your identity, we will ask you to provide the following information:
      <br><br>
      <ul>
        <li>Your name</li>
        <li>Your email address</li>
      </ul>

      Once we have verified your identity, we will permanently delete your data from our systems. We will also notify any third party with whom we have shared your data, to delete it as well.
      <br><br>
      Please note that data deletion requests may take up to [insert time frame, e.g. 30 days] to process.
      <br><br>
      <strong>Contact Us</strong>
      <br><br>
      If you have any questions or concerns about our data deletion process, please contact us.</p>
    </div>
  </div>
</div>
