<div class="container">
  <h3 class="my-4"><strong>Our Privacy Policy</strong></h3>
  <p class="mb-4">
    We understand the importance of protecting personal information and take the privacy of our users seriously.
    <br><br>
    This Privacy Policy explains how we collect, use, and protect the information we receive when you use our ride-sharing app.
    <br><br>
    <strong>Information Collection and Use</strong>
    <br><br>
    When you sign up for our app, we will collect certain personal information from your Facebook account, including your name, email address, and profile picture.
    <br><br>
    We use this information to create your user account and to establish trust among our users on the platform..
    <br><br>
    When you create a post for ride sharing, you will be asked to provide information about the ride, such as the destination, date and time, and number of seats.
    <br><br>
    This information will be visible to other users who are looking for a ride and may match with your post.
    <br><br>
    When you see a match for your post, you will be able to see the match's Facebook information, including their name and profile picture.
    <br><br>
    We will use the information you provide to match you with other users, initialize trust, and to facilitate the ride-sharing process.
    <br><br>
    <strong>Information Retention</strong>
    <br><br>
    The post will be self-destroyed when the post's end_time parameter has past.
    <br><br>
    You can also destroy the post at any time.
    <br><br>
    We will retain the information you provide for as long as necessary to provide our services and to comply with legal obligations.
    <br><br>
    <strong>Security</strong>
    <br><br>
    We take reasonable measures to help protect the information we receive from unauthorized access, disclosure, alteration, and destruction.
    <br><br>
    However, no method of transmission over the internet, or method of electronic storage, is 100% secure. Therefore, we cannot guarantee its absolute security.
    <br><br>
    <strong>Changes to Our Privacy Policy</strong>
    <br><br>
    We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
    <br><br>
    <strong>Contact Us</strong>
    <br><br>
    If you have any questions or concerns about our Privacy Policy, please contact us.
    <br><br>
  </p>
</div>
