<div class="container px-4">
  <%= link_to root_path do %>
  <%= image_tag "logo.jpg", class: "w-25 mt-4 rounded-4" %>
  <% end %>
  <h3 class="my-4"><strong>Нашата политика на приватност</strong></h3>
  <p class="mb-4">
    Ја разбираме важноста на заштитата на личните информации и сериозно ја сфаќаме приватноста на нашите корисници.
    <br><br>
    Оваа Политика за приватност објаснува како ги собираме, користиме и заштитуваме информациите што ги добиваме кога ја користите нашата апликација за споделување возење.
    <br><br>
    <strong>Собирање и употреба на информации</strong>
    <br><br>
    Кога ќе се регистрирате за нашата апликација, ќе собереме одредени лични информации од вашата сметка на Facebook, вклучувајќи го вашето име, е-пошта, слика на профилот и врска до вашиот јавен профил на Facebook.
    <br><br>
    Ние ги користиме овие информации за да ја создадеме вашата корисничка сметка и да воспоставиме доверба меѓу нашите корисници на платформата.
    <br><br>
    Кога креирате објава за споделување возење, ќе биде побарано да дадете информации за возењето, како што се дестинацијата, датумот и времето, бројот на седишта. Опционално можете да дадете и ваш мобилен број со.
    <br><br>
    Овие информации ќе бидат видливи за другите корисници кои имаат објава која одговара со вашата и може да ве контактираат.
    <br><br>
    Кога ќе видите совпаѓање за вашата објава, ќе можете да ги видите информациите за објавувачот, вклучувајќи го нивното име, сликата на профилот, линк кон нивниот јавен профил на Фејсбук, како и мобилен број (доколку е присутен).
    <br><br>
    Ќе ги користиме информациите што ги давате за да ве усогласиме со другите корисници, да ја иницијализираме довербата и да го олесниме процесот на споделување на возењето.
    <br><br>
    <strong>Задржување информации</strong>
    <br><br>
    Објавата ќе биде самоуништена кога ќе истече крајното времето кое сте го навеле во објавата.
    <br><br>
    Можете исто така да ја уништите објавата во секое време.
    <br><br>
    Не ги задржуваме информациите за објавата откако истата е уништена.
    <br><br>
    <strong>Безбедност</strong>
    <br><br>
    Преземаме разумни мерки за да помогнеме во заштитата на информациите што ги добиваме од неовластен пристап, откривање, менување и уништување.
    <br><br>
    <strong>Промени во нашата Политика за приватност</strong>
    <br><br>
    Можеме одвреме-навреме да ја ажурираме нашата Политика за приватност. Ќе ве известиме за какви било промени со објавување на новата Политика за приватност на оваа страница.
    <br><br>
    Доколку сакате перманентно да ја избришете вашата корисничка сметка. <%= link_to "Прочитајте овде.", data_deletion_path, class:"text-decoration-underline" %>
    <br><br>
    <strong>Контактирајте не</strong>
    <br><br>
    Ако имате какви било прашања или грижи за нашата Политика за приватност, ве молиме  <%= mail_to "mitev.nkl@gmail.com", "контактирајте не.", class:"text-decoration-underline" %>
    <br><br>
  </p>
</div>
