<div class="container">
<h3 class="my-4"><strong>Terms of Service</strong></h3>
<p>Welcome to our ride-sharing app.
<br><br>
By accessing or using our app, you agree to be bound by these terms of service (the “Terms”). If you do not agree to these terms, you may not use our app.
<br><br>
<strong>Use of the App</strong>
<br><br>
Our app is free to use. You may use the app for your personal, non-commercial use. You may not use the app for any other purpose, or in any other way, without our express written consent.
<br><br>
<strong>Monetization</strong>
<br><br>
The app is currently free to use and does not have any ads. We may, however, decide to monetize the app in the future. We will inform you of any changes to the monetization of the app and you will have the option to continue using the app or discontinue its use.
<br><br>
<strong>Content</strong>
<br><br>
Our app allows users to share information, including but not limited to, information about rides. You are solely responsible for the information you share through the app and the consequences of sharing such information. We reserve the right, but have no obligation, to monitor and remove any information or content that we believe is in violation of these Terms or applicable laws.
<br><br>
<strong>Termination</strong>
<br><br>
We reserve the right to terminate your use of the app at any time and for any reason, without notice. If we terminate your use of the app, you will no longer have access to your account or any information associated with it.
<br><br>
<strong>Changes to the Terms</strong>
<br><br>
We may update these terms from time to time. We will notify you of any changes by posting the new Terms on this page. By continuing to use the app after the changes are made, you are agreeing to the new terms.
<br><br>
<strong>Contact Us</strong>
<br><br>
If you have any questions about these terms, please contact us.</p>
<br><br>
</div>
